@import url(vars.css);
@import url(reboot.css);

body {
  color: var(--transparent-white);
  padding: 88px 24px;
  font-size: 14px;
}

.card-info {
  padding: 48px;
}

/* SEDANS card STYLES */
.card-info:nth-child(1) {
  border-radius: 9px 9px 0 0;
  background-color: var(--bright-orange);
}

.card-info-head__title {
  color: var(--very-light-gray);
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.55rem;
  margin-top: 27px;
}

.card-info__text {
  color: var(--transparent-white);
  font-family: 'Lexend Deca', sans-serif;
  margin-top: 27px;
  line-height: 1.6;
  font-size: 0.95rem;
}

.card-info__botao {
  color: var(--bright-orange);
  background-color: var(--very-light-gray);
  border-radius: 30px;
  display: inline-block;
  font-size: 0.95rem;
  font-weight: 700;
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  margin-top: 28px;
  padding: 16px;
  width: 148px;
}

/* SUV's card STYLES */
.card-info:nth-child(2) {
  background-color: var(--dark-cyan);
}

.card-info:nth-child(2) .card-info__botao {
  color: var(--dark-cyan);
}

/* LUXURY card STYLES */
.card-info:nth-child(3) {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 9px 9px;
}

.card-info:nth-child(3) .card-info__botao {
  color: var(--very-dark-cyan);
}

.attribution {
  color: #333;
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: -850px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
